.side-drawer {
  background-color: #9c9bb5;
  height: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 400px;
  z-index: 200;
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer li > * {
  color: #65467c;
  text-decoration: none;
}
