.topnav {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: #9c9bb5;
  padding: 0px 10px;
}

.nav-item {
  padding: 0 5px;
}

.topnav-banner ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.topnav-banner li > * {
  color: #65467c;
}
